<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- Google Web Font Link -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>


  </head>
    <body>
      <nav>
        <a class="blankfont logo" href="/"><h1 class="sitetitle">{{ site.name }}</h1></a>
        <ul class="navigation">
          <li><a href="sponsor.html">sponsor</a></li>
          <li><a href="speak.html">speak</a></li>
          <li><a href="past-events.html">past events</a></li>
        </ul>
      </nav>
      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <div class="container content">
        <h2 class="description">{{ site.description }}</h2>
        {{ content }}

      </div>
    <footer>
      <div class="social">
        <a class="icon-twitter" href="https://twitter.com/DCSassMeetup"></a>
        <a class="icon-github" href="https://github.com/sassydc"></a>
        <a class="icon-feed" href="/feed/feed.xml"></a>
      </div>
      <small>Sassy DC is hosted by <a href="http://twitter.com/mylifeasalllly">Ally Palanzi</a> and <a href="http://xiw.cx">Welch Canavan</a>. View our <a href="https://github.com/sassydc/sassydc.github.io/blob/develop/code-of-conduct.md">Code of Conduct</a>.</small>
    </footer>

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
