<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
    <!-- endbuild -->

  </head>
  <div class="container content">
    <body>
      <header>
        <h1><a href="/">{{ site.name }}</a></h1>
        <h2>{{ site.description }}</h2>
      </header>
      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      {{ content }}

      <footer>
        <p>You can find Sassy DC on <span class="icon icon--2x"><a href="https://twitter.com/DCSassMeetup">Twitter</span></a> and <span class="icon icon--2x"><a href="https://github.com/sassydc">Github</a></span></p>
        <p>Sassy DC is hosted by <a href="http://unakravets.com/">Una Kravets</a> and <a href="http://xiw.cx">Welch Canavan</a></p>
      </footer>
  </div>

    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
