---
layout: default
title: Sassy DC
---

<section class="section">
  <h2 class="section-title heading heading--beta">Upcoming</h2>
  {% for post in site.posts limit:1 %}
    <article>
      {{ post.content }}
    </article>
  {% endfor %}
</section>

<!--<section class="">
  <h1>Past Events</h1>
  {% for post in site.posts offset:1 %}
    <article><time>{{ post.date | date_to_string }}</time> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></article>
  {% endfor %}
</section>-->

<section class="format">
  <p>Meetups will consist of a twenty minute presentation followed by forty minutes of Q&A and hacking. All skill levels are welcome and encouraged to attend.</p>
</section>
