.section {
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  @include apply-side-rhythm-border(top,    $width: 1px, $lines: 0.35);
  @include apply-side-rhythm-border(bottom, $width: 1px, $lines: 0.65);
  @include apply-side-rhythm-border(left,  $width: 1px, $lines: 0.625);
  @include apply-side-rhythm-border(right, $width: 1px, $lines: 0.625);
  position: relative;
  text-align: center;
  margin-top: 2.5rem;
  padding-top: 1rem;

  @at-root #{&}-title {
    position: absolute;
    padding: 0 1em;
    background-color: $color-background;
    top: -2.75rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    line-height: 1;
  }
}

