.sitetitle {
  // Data URI of img/sassydc-logo.svg
  background-image: inline-image("sassydc-logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-size: contain;
  display: block;
  width: 30%;
  height: 0;
  padding-bottom: 25%; // Uncle Dave's Padded Box
  margin: -1em auto 0;
  @media(max-width: 800px) {
    padding-bottom: 40%;
    width: 50%;
  }
}
